/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #e5e5f2;
}

nav ul a:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  /* color: #ff6a00; */
  background-color: #6a6db2;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.worked-places-title{
  text-align: left;
  padding: 5%
}

.page-footer .footer-copyright{
  background-color: #030460;
}

.teal{
  background-color: #ff6a00 !important;
}

.page-footer {
  padding-top: 5px;
}

.contact-social-media {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-social-media li {
  display: inline;
  padding: 10px;
}
.contact-social-media a{
  color: #030460;
}

.contact-social-media a:hover{
  color: #ff6a00;
}

.btn, .btn-large, .btn-small{
  background: #6a6db2;
}

.btn:hover, .btn-large, .btn-small:hover{
  background: #ff6a00;
}

 /* label color */
 .input-field label {
  color: #030460;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #030460;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #030460;
  box-shadow: 0 1px 0 0 #030460;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #030460;
  box-shadow: 0 1px 0 0 #030460;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #0ff6a000;
  box-shadow: 0 1px 0 0 #ff6a00;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #030460;
}

.bottom-border{
  border-bottom: 2px solid #ff6a00;
}

.top-border{
  border-top: 4px solid #ff6a00;
}
.top-bottom-border{
  border-bottom: 2px solid #030460;
  border-top: 4px solid #ff6a00;
}

.about-me-img{
  border: 5px solid #e0e0e0;
  border-radius: 50%;
  width: 20%;
}